
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

@{ ViewBag.Description = "This is the Index Page";}

@section SideBarOptions
{
    <a class="list-group-item" href="#" style="background-color:transparent;">Admin Home</a>
    <a class="list-group-item" href="#" style="background-color:transparent;">Agent Home</a>
    <a class="list-group-item" href="#" style="background-color:transparent;">Customer Home</a>

}